{% extends 'gym/base.html' %} {% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0">
          <i class="fas fa-user"></i> Welcome, {{ user.username }}
        </h2>
      </div>
      <div class="card-body">
        <p class="card-text">
          Welcome to our Gym Management System. Here you can easily manage your
          fitness journey.
        </p>
        <div class="row">
          <div class="col-md-6 mb-3">
            <a
              href="{% url 'book_appointment' %}"
              class="btn btn-success w-100"
            >
              <i class="fas fa-calendar-check"></i> Book Appointment
            </a>
          </div>
          <div class="col-md-6 mb-3">
            <a href="{% url 'schedule_session' %}" class="btn btn-info w-100">
              <i class="fas fa-clock"></i> Schedule Session
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
